<table>
    <tr>
        <td>
            <p>Nelson Juárez Sandoval</p>
            <p>Terminar con las guerras en el mundo ninja</p>
        </td>

        <td>
            <img class="circular--square" src="../assets/Imagenes/fotoPerfil.png" width="100">
        </td>

        <td>
            <ul>
                <li>zS20006725@estudiantes.uv.mx</li>
                <li>271-185-2889</li>
                <li>Veracruz, México</li>
                <li>soynelson_77</li>

            </ul>
        </td>
    </tr>
</table>

